*
{
margin: 0;
padding: 0;	
box-sizing: border-box;
font-family: 'M PLUS 1p', sans-serif;
}


.links

{
width: 100%;
height: 55px;
position: absolute;
top: 40px;
text-align: center;
color: $blanquito;

    


    ul
    {
        li
        {
            display: inline;
            a, a:visited 

            {
                color: $blanquito;
                text-decoration: none;
                font-size: 14px;
            

                &:hover

                {
                    font-size: 17px;
                    color: $azulito;
                }
            }
        }
    }
}

.inicio 
{
width: 100%;
height: 100vh;
background-color: $limoncitopastel;

    .links 
    
    {

    //** position: fixed **//
    top: auto;
    bottom: 20px;
    color: $negrito;

    ul

    {

        li

        {

            a
            {

                color: $negrito;

            }

        }

    }
    
    }

    .logo-inicio
    
    {
        //** position: fixed; **//
        text-align: center;  
        padding: 90px; 
       
        img
        
        {
            width: 60%;
            height: auto;
        }
    }      

}





.seccion

{
width: 100%;
height: auto;
overflow: auto;
background-color: $blanquito;
position: relative;

    

    .miniseccion 
    
    {

    position: relative;
    width: 50%;
    min-height: 100vh;
    float: left;

        &.menu 
        
        {
            position: absolute;
            top:0;
            left:0;
            background-color: $moradito;
            
            img

            {

                width: 80%;
                height: auto;
                display: block;
                margin: 0 auto;
                margin-top: 70px;

            }

            h2

            {

                display: table;
                margin: 0 auto;
                margin-top: 15px;
                font-family: 'Sanchez', serif;
                color: #ffffff;
                

            }



        }

        &.contenido 
        
        {
            background-color: $blanquito;
            margin-left: 50%;
            padding: 35px;
            text-align: justify;  
            
            .imagencontenido

            {

                width: 100%;
                margin: 0 auto;

                img

                {

                    
                    margin-top: 40px;
                    width: 100%;
                    height: auto;

                }

            }

        }

        

    }

    &.right 
    
    {
        .menu 
        
        {
            right:0;
            left: auto;
        }

        .contenido 
        
        {
            background-color: $blanquito;
            margin-left: 0; 
            margin-right: 50%;   
        }
    }

    &.menu-fixed 
    
    {
        .menu 
        
        {
            position: fixed;
            top:0 ;
            left: 0;
        }

        .contenido 
        
        {
            margin-left: 50%;
            background-color: $azulito;
        }

        &.right 
       
        {
            .menu 
            
            {
                right:0;
                left: auto;
            }

            .contenido 
            {
                margin-left: 0;
            }
        }

    }

    &.menu-ended 
    
    {

        .menu 
        
        {
            position: absolute;
            top:auto ;
            bottom: 0;
        }

     }

}

.grande

{

background-color: $coralito;
width: 100%;
height: 400px;
color: $blanquito;
text-align: center;
padding-top: 20px;

    img

    {

        width: 150px;
        height: auto;

    }

    .donacionescarrusel

    {

        width: 85%;
        height: 300px;
        padding-top: 40px;
        margin: 0 auto;

    }

}

.donacioninfo

{
    
    width: 150px;
    height: 150px;
    padding-top: 20px;
    

    img

    {

        width: 80px;
        height: auto;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    p

    {

        text-align: center;

    }

    h3

    {

        text-align: center;
        font-family: 'Sanchez', serif;

    }

}

footer 

{

width: 100%;
height: 100px;
background-color: $negrito;

    .redes
    {

        img
        {

            width: 40px;
            height: 40px;
            margin-left: 20px;
            margin-top: 30px;

        }


    }

}


#quienessomos .contenido

{
    background-color: $amarillito;
}

#donaciones .contenido 

{
    .textocentrado

    {

        text-align: center;

    }
    background-color: $amarillito;

}

#voluntariado .contenido

{
    height: 200vh;
    background-color: $turquecita;
}

#obras .contenido

{
    height: 200vh;
    background-color: $coralito;
}


#contacto .contenido

{
    height: 200vh;
    background-color: $rosadito;
}