*
{
margin: 0;
padding: 0;	
box-sizing: border-box;
font-family: 'M PLUS 1p', sans-serif;
}


.links

{
width: 100%;
height: 55px;
position: absolute;
top: 40px;
text-align: center;
color: $blanquito;

    


    ul
    {
        li
        {
            display: inline;
            a, a:visited 

            {
                color: $blanquito;
                text-decoration: none;
                font-size: 14px;
            

                &:hover

                {
                    font-size: 17px;
                    color: $coralito;
                }
            }
        }
    }
}

.inicio 

{
width: 100%;
height: 100vh;
background-color: $def2celeste;
padding-top: 20vh;

    .links 
    
    {

    //** position: fixed **//
    top: auto;
    bottom: 20px;
    color: $negrito;

    ul

    {

        li

        {

            a
            {

                color: $negrito;

            }

        }

    }
    
    }

    .logo-inicio
    
    {
        //** position: fixed; **//
        text-align: center;
        background-color: white;
        width: 100%;
        height: 60vh;

       
        img
        
        {
            width: auto;
            height: 100%;
        }
    }      

}





.seccion

{
width: 100%;
height: auto;
overflow: auto;
background-color: $negrito;
position: relative;

    

    .miniseccion 
    
    {

    position: relative;
    width: 50%;
    min-height: 100vh;
    float: left;

        &.menu 
        
        {
            position: absolute;
            top:0;
            left:0;
            background-color: $def2azul;
            
            img

            {

                width: 60%;
                height: auto;
                display: block;
                margin: 0 auto;
                margin-top: 120px;

            }

            h2

            {

                display: table;
                margin: 0 auto;
                margin-top: 15px;
                font-family: 'Sanchez', serif;
                color: #ffffff;
                

            }



        }

        &.contenido 
        
        {
            background-color: $blanquito;
            margin-left: 50%;
            padding: 35px;
            text-align: justify;  
            
            .imagencontenido

            {

                width: 100%;
                margin: 0 auto;

                img

                {

                    
                    margin-top: 40px;
                    width: 100%;
                    height: auto;

                }

            }

        }

        

    }

    &.right 
    
    {
        .menu 
        
        {
            right:0;
            left: auto;
        }

        .contenido 
        
        {
            background-color: $blanquito;
            margin-left: 0; 
            margin-right: 50%;   
        }
    }

    &.menu-fixed 
    
    {
        .menu 
        
        {
            position: fixed;
            top:0 ;
            left: 0;
        }

        .contenido 
        
        {
            margin-left: 50%;
            background-color: $azulito;
        }

        &.right 
       
        {
            .menu 
            
            {
                right:0;
                left: auto;
            }

            .contenido 
            {
                margin-left: 0;
            }
        }

    }

    &.menu-ended 
    
    {

        .menu 
        
        {
            position: absolute;
            top:auto ;
            bottom: 0;
        }

     }

}

.grande

{

background-color: $def2celeste;
width: 100%;
height: 400px;
color: $blanquito;
text-align: center;
padding-top: 20px;

    img

    {

        width: 150px;
        height: auto;

    }

    .donacionescarrusel

    {

        width: 85%;
        height: 300px;
        padding-top: 40px;
        margin: 0 auto;

    }

}

.donacioninfo

{
    
    width: 150px;
    height: 150px;
    padding-top: 20px;
    

    img

    {

        width: 80px;
        height: auto;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    p

    {

        text-align: center;

    }

    h3

    {

        text-align: center;
        font-family: 'Sanchez', serif;

    }

}


.obrasinfo

{

width: 100%;
height: auto;
margin: 0 auto;


    img

    {

        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;

    }

}

.formulario

{

margin: 0 auto;
margin-top: 40px;

}

form

{

    width: 90%;
	height: auto;
	padding: 20px;
	margin: 0 auto; 
    margin-top: 110px;

    .formfila 
    {
        margin-top: 25px;
    }
    
    .boton 
        {
            width: 150px;
    }

}

label

{
	
	width: 100%;
		
}

input

{
	
	width: 100%;
	padding: 5px;
	border-radius: 5px;
		
}

textarea

{
	
	width: 100%;
	padding: 40px;
	border-radius: 5px;	
    resize: none;
    
}





footer 

{

width: 100%;
height: 100px;
background-color: $negrito;


div

{

    width: 50%;
    float: left;

}

    .redes
    {

        padding-left: 30px;

        img
        {

            width: 30px;
            height: 30px;
            margin-left: 20px;
            margin-top: 30px;

        }


    }

    .derechos

    {

        color: $blanquito;
        text-align: right;
        padding-right: 40px;
        padding-top: 40px;    

    }

    .info

    {

        width: 50%;
        color: $blanquito;
        margin-left: 50px;
        margin-top: 10px;

    }
}



#quienessomos .contenido

{
    background-color: $def2amarillo;
}

#donaciones .contenido 

{
    .textocentrado

    {

        text-align: center;

    }
    background-color: $def2amarillo;

}

#voluntariado .contenido

{
   
    background-color: $def2amarillo;
}

#obras .contenido

{
    
    background-color: $def2amarillo;
}


#contacto .contenido

{
    background-color: $def2amarillo;
}


.slick-prev:hover::before, .slick-next:hover::before {
    font-size: 35px;
}